body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  max-width:600px;
  margin:40px auto;
  padding:30px;
}
.blog-preview{
  padding:10px 16px;
  margin:20px 0;
  border-bottom:1px solid #fafafa
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0,1)
}

.blog-preview h2{
  font-size: 30px;
  color:red;
  margin-bottom: 8px;
}

.create{
  max-width:400px;
  margin:0 auto;
  text-align: center;

}

.create label{
  text-align: left;
  display: block;
}

.create h1{
  font-size: 20px;
  color:blueviolet;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select{
  width:100%;
  padding: 6px 10px;
  margin:10px 0;
  border: 1px solid blanchedalmond;
  box-sizing: border-box;
  display : block

}

.create button{
  background:red;
  color:#fff;
  border : 0;
  padding:8px;
  border-radius: 8px;
  cursor: pointer;
}



